<div class="_verticalStretch">
  <header class="header">
    <div class="_bold">header block</div>
  </header>

  <main class="main">
    <div class="nn-container">
      <div class="_bold main__title">main block</div>
      <div>
        <div class="slider slider-nav">
          <div class="slider__navItem">
            <img class="slider__navImg" src="images/image2002.png" alt="beach"/>
          </div>
          <div class="slider__navItem">
            <img class="slider__navImg" src="images/image2003.png" alt="glass"/>
          </div>
          <div class="slider__navItem">
            <img class="slider__navImg" src="images/image2004-2005.png" alt="laptop"/>
          </div>
          <div class="slider__navItem">
            <img class="slider__navImg" src="images/image2003.png" alt="glass"/>
          </div>
          <div class="slider__navItem">
            <img class="slider__navImg" src="images/image2004-2005.png" alt="laptop"/>
          </div>
        </div>
        <div class="slider slider-for">
          <div class="year">
            <div class="year__preview preview">
              <div class="preview__img">
                <img src="images/image2002.png" alt="beach"/>
              </div>
              <div class="preview__description description">
                <h1 class="description__title">2002 рiк</h1>
                <p class="description__title">Dolor ex ad aute fugiat. Nulla duis nostrud incididunt velit
                  consectetur minim. Nisi consequat eu veniam ullamco enim laboris.</h1>
              </div>
            </div>
            <div class="year__events events">
              <div class="events__row">
                <h2 class="events__title">Цього року в Україні</h2>

                <div class="events__icon"><img src="images/ua.png" alt="Ukrainian flag"/></div>
                <div class="events__line">Cillum consequat culpa cupidatat consectetur irure sint adipisicing dolor sint
                  labore ipsum nostrud deserunt elit. Elit sunt minim magna nulla esse aliquip nulla. Nisi tempor culpa
                  sint esse sint in veniam anim consequat est consectetur ipsum.
                </div>
              </div>

            </div>
          </div>
          <div class="slider__forItem">2</div>
          <div class="slider__forItem">3</div>
          <div class="slider__forItem">4</div>
          <div class="slider__forItem">5</div>
          <div class="slider__forItem">6</div>
        </div>
      </div>
    </div>
  </main>

  <footer class="footer">
    <div class="_bold">footer block</div>
  </footer>

</div>
